.button0 {
    padding:9px;
    background-color: red;
    border-radius: 69px;
    margin-left: 50%;
    margin-top: 20%;
    }
.button1 {
    padding:9px;
    background-color: red;
    border-radius: 69px;
    margin-left: 0.5%;
    margin-top: 20%;
    }